* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

/* --------------------------------------------------------------- */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 53, 53);
} */

.gift-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    position: relative;
    /* bottom: 20%; */
}
.gift-container.active{
    animation: Vibration 2s ease forwards;

}
@keyframes Vibration {
    0%{
        transform: scale(1,1);
    }
    25%{
        transform: scale(0.9s,1.05);
    }
    50%{
        transform: scale(1.1,0.9);
    }
    70%{
        transform: scale(0.9,1.1);
    }
    100%{
        transform: scale(1,1);
    }
}

.gift-container .gift-box {
    position: absolute;
    height: 200px;
    width: 300px;
    background: darkorange;
    animation: Bounce 3s ease infinite forwards;
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@keyframes Bounce {
    0% {
        transform: translateY(-24px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-24px);
    }
}

.gift-box.active {
    animation: none;
}

.gift-box::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 200px;
    background-color: dodgerblue;
    left: 124px;
}

.gift-box::after {
    content: '';
    position: absolute;
    box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 200px;

}

.click {
    position: absolute;
    background-color: darkorange;
    width: 340px;
    height: 90px;
    top: -90px;
    left: -20px;
    cursor: pointer;
    /* z-index: 1; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s ease;
}

.click.active {
    transition-delay: 1s;
    transform: translateY(-240px);
}

.click::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 90px;
    background-color: dodgerblue;
    left: 144px;
    /* z-index: 2; */
}

.click::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 0px;
    border-bottom: 60px solid dodgerblue;
    border-top: 60px solid dodgerblue;
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
    transform: rotate(-90deg);
    top: -93px;
    left: 136px;
    /* z-index: 3; */
}

.gift-container .shadow {
    content: '';
    position: relative;
    width: 340px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 100px;
    border-radius: 50%;
    left: -4px;
    animation: BounceOut 3s ease infinite forwards;
}

@keyframes BounceOut {
    0% {
        transform: translateY(24px);
        scale: 0.7;
    }

    50% {
        transform: translateY(0px);
        scale: 1;
    }

    100% {
        transform: translateY(24px);
        scale: 0.7;
    }
}

.gift-container .shadow.active {
    animation: none;
}

/* --------------------------------------------------------------- */